

body{
    margin: 0 auto;
    width: 800px;

    padding: 0;

    background-color: white;
}
#wrapper{
    margin:0 auto;
    width: 600px;

    padding: 0;
    border: 5px solid maroon;
        background-color: 	PaleGoldenrod;
}
h1 {
margin: 0 auto;
width: 200px;
padding: 0;
border: 5px solid maroon;
    background-color: 	AntiqueWhite;
    text-align: center;

    font-size: large;
}
p {    text-align: center;
 }
div{text-align: center;}
