h1 {
margin: 0 auto;
width: 200px;
padding: 0;
border: 5px solid maroon;
    background-color: 	AntiqueWhite;
    text-align: center;

    font-size: large;
}
body{
    margin: 0 auto;
    width: 800px;

    padding: 0;

    background-color: white;
}
#boxA{
    width:700px;
margin-left:auto;
margin-right:auto;
}
#wrapper{
    margin:0 auto;
    width: 600px;

    padding: 70px;
    border: 5px solid maroon;
        background-color: 	PaleGoldenrod;
}

p {
  text-align: left;
 }
div{text-align: left;}
