h1 {
margin: 0 auto;
width: 200px;
padding: 0;
border: 5px solid FireBrick;
    background-color: 	AntiqueWhite;
    text-align: center;

    font-size: large;
}

input[ type="submit"]{
    background-color: green;

    color: white;
  border: 1px solid blue;
}
span {

    font-weight: normal; /* (必須) */
 color: white;
 background-color: red;
 padding: 0 0 0 1em;
}

table{
border-collapse: collapse;
}


th.a{
    border:1px black solid;
    width:100px;
    height:200px;

}
table-layout:fixed;
td.habatakasa{
border:1px black solid;
width:100px;
height:200px;
}
table{
border-collapse: collapse;
}
